@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Untuk browser berbasis WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  display: none; /* Sembunyikan scrollbar */
}

/* Untuk Firefox */
* {
  scrollbar-width: none; /* Sembunyikan scrollbar di Firefox */
}

/* Untuk menghindari padding/space ekstra di Mac */
html {
  -ms-overflow-style: none; /* Untuk Internet Explorer */
  scrollbar-width: none; /* Firefox */
}
