@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Mengizinkan scroll tapi menyembunyikan scrollbar */
html, body {
  overflow: auto;
  -ms-overflow-style: none;  /* Untuk Internet Explorer dan Edge */
  scrollbar-width: none;     /* Untuk Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;  /* Untuk Chrome, Safari, dan Opera */
}

